<header>
   <div class="social_media">
        <a href="https://www.facebook.com/exposures.photography">
            <img src="/fb_icon_150px.png" alt="facebook" style="width:21px;height:21px;" />
        </a>
        <a href="https://www.instagram.com/exposures.photography/">
            <img src="/instagram_icon_150px.svg" alt="instagram" style="width:21px;height:21px;" />
        </a>
        <a href="https://500px.com/p/egorova_marie?">
            <img src="/500px_icon_150px.png" alt="500px" style="width:21px;height:21px;" />
        </a>
        <a href="mailto:shooting@exposures-photography.com">
            <img src="/mail_icon_150px.svg" alt="e-mail" style="width:21px;height:21px;" />
        </a>
    </div>

    <div class="logo">
        <a class="logo__link" href="/">
            <img class="logo__image" src="/logo.png" alt="logo" />
        </a>
    </div>
    <div class = "menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about_me">Fotografin</a></li>
        </ul>
    </div>
</header>
