{{ define "main" }}
<div class="centered_width">
<div class="menu_gallery">
    <a href="/portraits" class="gallery__item gallery__item--1">
        <img src="/img/portraits.jpg" class="gallery__img" alt="portraits" />
        <div class="gallery_overlay">
            <p class="gallery_text">Portraits</p>
        </div>
    </a>
    <a href="/love_stories" class="gallery__item gallery__item--2">
        <img src="/img/love_strories.jpg" class="gallery__img" alt="love_stories" />
        <div class="gallery_overlay">
            <p class="gallery_text">Love Stories</p>
        </div>
    </a>
    <a href="/events" class="gallery__item gallery__item--3">
        <img src="/img/events.jpg" class="gallery__img" alt="events" />
        <div class="gallery_overlay">
            <p class="gallery_text">Events</p>
        </div>
    </a>
    <a href="/family" class="gallery__item gallery__item--4">
        <img src="/img/family.jpg" class="gallery__img" alt="family" />
        <div class="gallery_overlay">
            <p class="gallery_text">Family</p>
        </div>
    </a>
    <a  href="/weddings" class="gallery__item gallery__item--5">
        <img src="/img/weddings.jpg" class="gallery__img" alt="weddings" />
        <div class="gallery_overlay">
            <p class="gallery_text">Weddings</p>
        </div>
    </a>
</div>
</div>
{{ end }}
