{{ define "main" }}
<main>
    <div class="carousel"
      data-flickity='{ "wrapAround": true, "pageDots": false, "prevNextButtons": false }'>
        {{ with .Resources.ByType "image" }}
        {{ range .}}
        {{ $img := .Resize "x800" }}
        <img class="carousel_img" width="{{ $img.Width }}" height="{{ $img.Height }}" src="{{ $img.RelPermalink }}" />
        {{ end }}
        {{ end }}
    </div>
    <div class="pictures_column">
        {{ with .Resources.ByType "image" }}
        {{ range . }}
        {{ $img := .Resize "x800" }}
        <img src="{{ $img.RelPermalink }}" />
        {{ end }}
        {{ end }}
    </div>
    <div class="button-container">
        <a href="/contact" class="button">Jetzt anfragen</a>
    </div>
    <div class="centered_width">
    <div class="category_index_text_container">
        <p class="category_index_text">
            Die wichtigsten Worte Deines Lebens sind ausgesprochen, der Ring passt wie angegossen
            und dem Leben zu zweit steht nichts mehr im Wege. Jetzt beginnt die aufregende Zeit der
            Vorbereitungen auf den großen Tag. Den Tag, den Du für immer in deinem Herzen tragen
            wirst. Den perfektesten Tag deines Lebens – Deinen Hochzeitstag.<br><br>
            Außer dem Hochzeitsort, der Gästeliste, dem Kleid und ein Tausend anderer Sachen machst Du dir
            natürlich Sorgen, ob sich ein passender Hochzeitsfotograf findet. Jemand, der die magischen Momente
            deiner Hochzeit abbildet, damit Du beim Anblick auf die Fotos immer wieder das gleiche Kribbeln im
            Bauch fühlst, wie am Tag Deiner Hochzeit. Es ist wichtig, dass Dein Hochzeitsfotograf Dich und
            deinen Partner/-in als Persönlichkeiten versteht und die Emotionen, die Atmosphäre sowie die kleinen
            Details Deiner Hochzeit, die Du mit großer Sorgfalt Dir ausdenkst, richtig darstellt. Dein
            Hochzeitsfotograf ist jemand, der Deine Erinnerungen aus dem Tag aufnimmt und mit seinem kreativen
            Auge gestaltet, damit Du und die Gäste den Tag immer wieder erleben. Das Licht, der Bildausschnitt,
            das Moment – all das hat Einfluss darauf, wie echt und aussagekräftig die Fotos sind, die der
            Hochzeitsfotograf Dir übergibt.<br><br>
            Nicht zu unterschätzen ist die Nähe des Fotografen an deinen ausgesuchten Hochzeitsort. Jemand, der
            die Gegend, die Kultur und die Besonderheiten des Ortes kennt, hat einen klaren Vorteil, deswegen
            freue ich mich immer besonders als Hochzeitsfotograf München zu arbeiten. Die schöne Stadt München
            verfügt über viele wunderschöne Orte, die sich dafür eignen, den besonderen Tag Deines Lebens zu
            feiern, außerdem zeichnet sich München durch ein besonderes Flair aus: die Nähe der Alpen, die
            bayerische Lebensart, die Anzahl sonniger Tagen – all das macht den Job als Hochzeitsfotograf
            München einfacher, und setzt voraus, München zu lieben und da zu leben, damit die Hochzeitsfotos die
            Münchner und oberbayerische Atmosphäre wiedergeben. Suchst Du also jemanden, der die Rolle als
            Hochzeitsfotograf München erfüllt, freue ich mich, Dir da behilflich zu sein.</p>
    </div>
    </div>
    </main>
{{ end }}

