@media screen and (min-width: 600px) {
.centered_width {
        margin-left: 150px;
        margin-right: 150px;
    }
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__link {
    display: block;
    margin: 55px auto 50px;
}

.logo__image {
    max-width: 240px;
}

.social_media a:hover {
    opacity: 0.5;
}

.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: consolas,sans-serif;
    font-size: 14px;
    padding: 0;
    justify-content: center;
    margin-bottom: 30px;
    color: #3D3C3A;
}

@media screen and (min-width: 600px) {
    .menu ul{
        flex-direction: row;
    }
}


.menu li{
    padding: 8px;
    font-weight: normal;
}

.menu a:hover {
    color: #E0E0E0;
}

.footer_links{
    margin-bottom: 30px;
    margin-top: 50px;
}

.footer_links ul{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: consolas,sans-serif;
    font-size: 8px;
    color: #3D3C3A;
}

.footer_links li{
    display: inline;
    padding: 0 6px;
    font-weight: normal;
    font-size: 10px;
}

.footer_links a:hover {
    color: #E0E0E0;
}

.menu_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 5px;
}

.gallery_text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: consolas, sans-serif;
    font-size: 15px;
    color: white;
    opacity: 0;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__item {
    position: relative;
}

.gallery__item:hover .gallery_overlay,
.shooting:hover .gallery_overlay {
    background: rgba(0, 0, 0, 0.4);
}

.gallery__item:hover .gallery_text,
.shooting:hover .gallery_text {
    opacity: 1;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
}
.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: 0;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    margin: 0;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
}

@media screen and (min-width: 1027px) {
    .menu_gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 13vw);
        grid-gap: 5px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        margin: 0;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        margin: 0;
    }
}

.category_index {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shooting__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.shooting__img img {
    width: 200px;
    height: auto;
}

.shooting {
    overflow: hidden;
    margin: 0;
    display: flex;
    grid-column: span 1;
    position: relative;
}

.shooting--horz {
    grid-column: span 2;
}

.button {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: consolas, sans-serif;
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.category_index_text_container {
    margin-top: 30px;
    line-height: 1.5rem;
    font-family: consolas, sans-serif;
    font-size: 13px;
    color: #a0a0a0;
    text-align: justify;
    padding-right: 13px;
    padding-left: 13px;

}

.carousel {
    display: none;
}

@media screen and (min-width: 600px) {
    .carousel {
        display: block;
    }

    .carousel_img {
        height: 35.71429rem;
        display: block;
        height: 25rem;
        width: auto;
        margin-right: .42857rem;
    }
}

.pictures_column {
    display: block;
}

@media screen and (min-width: 600px) {
    .pictures_column {
        display: none;
    }
}

.pictures_column img {
    margin-bottom: 5px;
    width: 100%;
}

.shooting_gallery_text_container {
    margin-top:30px;
}

.shooting_gallery_text_container p {
    line-height: 2rem;
    font-size: 16px;
    font-family: consolas, sans-serif;
    color: #a0a0a0;
    text-align: justify;
    margin: 0 auto;
    width: 60vw;
    position: relative;
    border-left: 3px solid #a0a0a0;
    padding-left: 20px;
}
.shooting_gallery_text_container p span {
    font-size: 10em;
    font-family: Georgia,serif;
    color: #a0a0a0;
    text-align: justify;
    line-height: 1em;
    display: block;
    float: left;
    height: 0.5em;
    margin-right: 20px;
}

.about_me_img {
    padding-right: 13px;
    padding-left: 13px;
}

.about_me {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.about_me_txt {
    line-height: 1.9rem;
    font-family: consolas, sans-serif;
    text-align: justify;
    padding-right: 13px;
    padding-left: 13px;
}

.about_me_txt p {
    margin: 0;
    color: #3D3C3A;
}

.about_me_txt li {
    font-weight: normal;
    color: #3D3C3A; 
}

.about_me_img img {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .about_me {
        flex-direction: row;
    }
    .about_me_img {
        width: 50%;
    }
    .about_me_txt {
        width: 50%;
    }
}

.imprint {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imprint_img img {
    max-width: 100%;
}

.imprint_txt {
    max-width: 100%;
}

.imprint_txt p {
    text-align: center;
    font-family: consolas, sans-serif;
    line-height: 1.9rem;
    color: #3D3C3A;
}

.md_content p {
    line-height: 1.9rem;
    font-family: consolas, sans-serif;
    text-align: justify;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #3D3C3A;
}

.md_content h3 {
    font-family: consolas, sans-serif;
    padding-right: 13px;
    padding-left: 13px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #3D3C3A;
}

.md_content h2 {
    font-family: consolas, sans-serif;
    padding-right: 13px;
    padding-left: 13px;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #3D3C3A;
}

.md_content li {
    font-family: consolas, sans-serif;
    padding-right: 13px;
    padding-left: 13px;
    font-weight: bold;
    font-size: 16px;
    color: #3D3C3A;
}

.blog_index ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: consolas, sans-serif;
    font-size: 13px;
}

@media screen and (min-width: 600px) {
    .blog_index ul {
        flex-direction: row;
    }
}

.thumbnail {
    display: block;
    position: relative;
}

.thumbnail__img {
    opacity: 50%;
}

.thumbnail__img:hover {
    opacity: 30%;
}


.thumbnail__txt {
    position: relative;
    bottom: 50%;
    color: #666362;
}

.thumbnail__listitem {
    display: flex;
    margin-right: 10px;
}

a:hover {
    color: #E0E0E0;
}

a {
    text-decoration: none;
    color: inherit;
}

.blog_content {
    display: block;
}

.blog_content p {
    line-height: 1.9rem;
    font-family: consolas, sans-serif;
    text-align: justify;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #3D3C3A;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.blog_image {
    max-width: 905px;
    margin: 0 auto;
}

.blog_image img {
    max-width: 100%
}

.blog_image_double {
    display: flex;
    flex-direction: column;
}

.blog_image_double img {
    margin-bottom: 5px;
}

@media screen and (min-width: 600px) {
    .blog_image_double {
        flex-direction: row;
        justify-content: space-between;
        max-width: 905px;
        margin: 0 auto;
    }

    .blog_image_double img {
        margin-bottom: 0px;
        max-width: calc(50% - 2.5px);
    }
}

