{{ define "main" }}
<div class="centered_width">
<main>
    <div class="category_index">
        <a href="bits-and-pretzels-2019" class="shooting shooting--horz">
            <img src="/img/obama.jpg" class="shooting__img" alt="obama-bits-and-pretzels-2019" />
            <div class="gallery_overlay">
                <p class="gallery_text">Bits & Pretzels 2019</p>
            </div>
        </a>
        <a href="ted-x-tum-2017" class="shooting">
            <img src="/img/tedxtum.jpg" class="shooting__img" alt="tedxtum" />
            <div class="gallery_overlay">
                <p class="gallery_text">TED x TUM 2017</p>
            </div>
        </a>
        <a href="queens-birthday" class="shooting">
            <img src="/img/queens-birthday.jpg" class="shooting__img" alt="queens-birthday" />
            <div class="gallery_overlay">
                <p class="gallery_text">Queen's Birthday</p>
            </div>
        </a>
        <a href="parov-stelar-concert" class="shooting shooting--horz">
            <img src="/img/parov-stelar-concert.jpg" class="shooting__img" alt="parov-stelar-concert" />
            <div class="gallery_overlay">
                <p class="gallery_text">Parov Stelar Konzert</p>
            </div>
        </a>
	<a href="bits-and-pretzels-2022" class="shooting">
            <img src="/img/arnold.jpg" class="shooting__img" alt="arnold_schwarzenegger" />
            <div class="gallery_overlay">
                <p class="gallery_text">Bits & Pretzels 2022</p>
            </div>
        </a>
	<a href="sii-2025" class="shooting">
            <img src="/img/sii-gordon.jpg" class="shooting__img" alt="sii-2025" />
            <div class="gallery_overlay">
                <p class="gallery_text">SII 2025</p>
            </div>
        </a>
	<a href="tum-neuroengineering-reunion-2025" class="shooting">
            <img src="/img/neuroengineering_reunion_25.jpg" class="shooting__img" alt="tum-neuroengineering-reunion-2025" />
            <div class="gallery_overlay">
                <p class="gallery_text">TUM Neuroengineering Reunion 2025</p>
            </div>
        </a>
	<a href="munich-chorus-show-2025" class="shooting">
            <img src="/img/munich-chorus-25.jpg" class="shooting__img" alt="munich-chorus-show-2025" />
            <div class="gallery_overlay">
		    <p class="gallery_text">Munich Chorus Show 2025</p>
            </div>
        </a>
    </div>
    <div class="button-container">
    <a href="/contact" class="button">Jetzt anfragen</a>
    </div>
    <div class="category_index_text_container">
        {{ .Content }}
    </div>
</main>
</div>
{{ end }}
