name: Hugo Build and Deploy to S3

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out master
        uses: actions/checkout@master

      - name: Deploy Hugo to S3
        uses: AlbertMorenoDEV/deploy-hugo-to-s3-action@v0.0.4

        with:
          hugo-version: 0.72.0
          AWS-ACCESS-KEY-ID: ${{ secrets.HUGO_DEPLOY_ACCESS_KEY }}
          AWS-SECRET-ACCESS-KEY: ${{ secrets.HUGO_DEPLOY_SECRET_ACCESS_KEY }}
